check_hash = no
schedule = watch_directory_2,5,10,"load_start= {{ home }}/mult-torr/*.torrent,d.set_directory={{ home }}/mult"
schedule = watch_directory_2,5,10,"load_start= {{ home }}/show-torr/*.torrent,d.set_directory={{ home }}/show"
schedule = watch_directory_2,5,10,"load_start= {{ home }}/games-torr/*.torrent,d.set_directory={{ home }}/games"
schedule = watch_directory_2,5,10,"load_start= {{ home }}/film-torr/*.torrent,d.set_directory={{ home }}/film"
